.box {
    width: 451px;
    height: 58px;
    border: 3px solid rgb(162, 162, 162);
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 30px;
    left: calc((100vw - 450px) / 2);
    border-radius: 5px;
}

.goods {
    width: 60px;
    height: 58px;
    position: absolute;
    border: 3px solid rgb(195, 195, 195);
    box-sizing: border-box;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}